<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="{FDF540A8-A4B5-486F-A604-CDA113EB2C5A}" Codepage="1252" Language="1033" Manufacturer="sunakgo" Name="NAIS2" UpgradeCode="{F416A761-0303-5738-B3BE-3B20D5B91E35}" Version="2.7.2">
        <Package Comments="This installer database contains the logic and data required to install NAIS2." Compressed="yes" Description="NAIS2" InstallerVersion="450" Languages="0" Manufacturer="sunakgo" Platform="x64" />
        <CustomAction Id="LaunchApplication" FileKey="Path" ExeCommand="[LAUNCHAPPARGS]" Return="asyncNoWait" />
        <CustomAction Id="SetARPNOMODIFY" Property="ARPNOMODIFY" Value="1" />
        <CustomAction Id="DownloadAndInvokeBootstrapper" Directory="INSTALLDIR" ExeCommand="powershell.exe -NoProfile -windowstyle hidden try [\{] [\[]Net.ServicePointManager[\]]::SecurityProtocol = [\[]Net.SecurityProtocolType[\]]::Tls12 [\}] catch [\{][\}]; Invoke-WebRequest -Uri &quot;https://go.microsoft.com/fwlink/p/?LinkId=2124703&quot; -OutFile &quot;$env:TEMP\MicrosoftEdgeWebview2Setup.exe&quot; ; Start-Process -FilePath &quot;$env:TEMP\MicrosoftEdgeWebview2Setup.exe&quot; -ArgumentList ('/silent', '/install') -Wait" Execute="deferred" />
        <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="DesktopFolder" Name="Desktop">
                <Component Id="ApplicationShortcutDesktop" Guid="{383D0E52-20F9-52BB-9BE3-5BA8E9DEF050}" Win64="yes">
                    <RegistryValue Id="regB451386EA4764B2BCAC3EE90C440596A" Root="HKCU" Key="Software\sunakgo\NAIS2" Name="Desktop Shortcut" Value="1" Type="integer" KeyPath="yes" />
                    <RemoveFolder Id="DesktopFolder" Directory="DesktopFolder" On="uninstall" />
                    <Shortcut Id="ApplicationDesktopShortcut" Directory="DesktopFolder" Name="NAIS2" Target="[!Path]" Description="Runs NAIS2" WorkingDirectory="INSTALLDIR" />
                </Component>
            </Directory>
            <Directory Id="ProgramFiles64Folder" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="NAIS2">
                    <Component Id="RegistryEntries" Guid="{B33718FE-4505-5DB0-87A1-18C203236889}" Win64="yes">
                        <RegistryValue Id="reg472373F20B1582833D2EC2BDF0ED2B5E" Root="HKCU" Key="Software\sunakgo\NAIS2" Name="InstallDir" Value="[INSTALLDIR]" Type="string" KeyPath="yes" />
                        <RegistryValue Id="regD9FBE15180426717141543C7AE379EE3" Root="HKLM" Key="Software\Classes\nais2" Name="URL Protocol" Value="" Type="string" />
                        <RegistryValue Id="regEBFBBFE8AEFBB866C69864DEE8F8692E" Root="HKLM" Key="Software\Classes\nais2" Value="URL: protocol" Type="string" />
                        <RegistryValue Id="reg7F308D7251C803FAE0836CE3DC967A16" Root="HKLM" Key="Software\Classes\nais2\DefaultIcon" Value="&quot;[!Path]&quot;,0" Type="string" />
                        <RegistryValue Id="reg4A202C201627E0694B9F0D897A307D1A" Root="HKLM" Key="Software\Classes\nais2\shell\open\command" Value="&quot;[!Path]&quot; &quot;%1&quot;" Type="string" />
                    </Component>
                    <Component Id="Path" Guid="{E41218C7-25FC-5DB8-9074-17685618E9DC}" Win64="yes">
                        <File Id="Path" Name="nais2.exe" KeyPath="yes" Checksum="yes" DiskId="1" Source="C:\nais2-secret-scan-msi\File\Path" />
                    </Component>
                    <Component Id="CMP_UninstallShortcut" Guid="{857CE2EC-C5BD-545F-AFA1-4891B2C7039C}" Win64="yes">
                        <RegistryValue Id="reg4EFFB56ADD90F4A4C422194588595A19" Root="HKCU" Key="Software\sunakgo\NAIS2" Name="Uninstaller Shortcut" Value="1" Type="integer" KeyPath="yes" />
                        <RemoveFolder Id="INSTALLDIR" Directory="INSTALLDIR" On="uninstall" />
                        <Shortcut Id="UninstallShortcut" Directory="INSTALLDIR" Name="Uninstall NAIS2" ShortName="nblxyckg" Description="Uninstalls NAIS2" Arguments="/x [ProductCode]" Advertise="yes" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="NAIS2">
                    <Component Id="ApplicationShortcut" Guid="{8CDF032C-E3AF-5F23-8356-6F87EAC9F1AF}" Win64="yes">
                        <RegistryValue Id="reg8EF92E05D435A6D6CD503D1532E693D2" Root="HKCU" Key="Software\sunakgo\NAIS2" Name="Start Menu Shortcut" Value="1" Type="integer" KeyPath="yes" />
                        <RemoveFolder Id="ApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
                        <Shortcut Id="ApplicationStartMenuShortcut" Directory="ApplicationProgramsFolder" Name="NAIS2" Target="[!Path]" Description="Runs NAIS2" Icon="ProductIcon" WorkingDirectory="INSTALLDIR">
                            <ShortcutProperty Id="scpA928DBE89B302EBC9C3D7CA666BC5A03" Key="System.AppUserModel.ID" Value="com.sunakgo.nais2" />
                        </Shortcut>
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="MainProgram" Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="INSTALLDIR" Description="Installs NAIS2." Display="expand" Level="1" Title="Application">
            <ComponentRef Id="RegistryEntries" />
            <Feature Id="ShortcutsFeature" Level="1" Title="Shortcuts">
                <ComponentRef Id="ApplicationShortcutDesktop" />
                <ComponentRef Id="Path" />
                <ComponentRef Id="CMP_UninstallShortcut" />
                <ComponentRef Id="ApplicationShortcut" />
            </Feature>
            <Feature Id="Environment" Description="Add the install location of the NAIS2 executable to the PATH system environment variable. This allows the NAIS2 executable to be called from any location." Level="1" Title="PATH Environment Variable">
                <ComponentRef Id="Path" />
            </Feature>
        </Feature>
        <Feature Id="External" Absent="disallow" AllowAdvertise="no" Level="1" />
        <Icon Id="ProductIcon" SourceFile="C:\nais2-secret-scan-msi\Icon\ProductIcon" />
        <MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallFinalize" />
        <Media Id="1" Cabinet="app.cab" EmbedCab="yes" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
        <Property Id="ALLUSERS" Value="1" />
        <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
        <Property Id="REINSTALLMODE" Value="amus" />
        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch NAIS2" />
        <Property Id="AUTOLAUNCHAPP" Secure="yes" />
        <Property Id="LAUNCHAPPARGS" Secure="yes" />
        <Property Id="WIX_UPGRADE_DETECTED" Secure="yes" />
        <Property Id="INSTALLDIR">
            <RegistrySearch Id="PrevInstallDirNoName" Root="HKCU" Key="Software\sunakgo\NAIS2" Type="raw" Win64="yes" />
            <RegistrySearch Id="PrevInstallDirWithName" Root="HKCU" Key="Software\sunakgo\NAIS2" Name="InstallDir" Type="raw" Win64="yes" />
        </Property>
        <Property Id="WVRTINSTALLED">
            <RegistrySearch Id="WVRTInstalledSystem" Root="HKLM" Key="SOFTWARE\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}" Name="pv" Type="raw" />
            <RegistrySearch Id="WVRTInstalledUser" Root="HKCU" Key="SOFTWARE\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}" Name="pv" Type="raw" Win64="yes" />
        </Property>
        <UIRef Id="WixUI_InstallDir" />
        <InstallExecuteSequence>
            <Custom Action="SetARPINSTALLLOCATION" After="CostFinalize" />
            <Custom Action="SetARPNOMODIFY" After="InstallValidate" />
            <Custom Action="DownloadAndInvokeBootstrapper" Before="InstallFinalize">NOT(REMOVE OR WVRTINSTALLED)</Custom>
            <Custom Action="LaunchApplication" After="InstallFinalize">AUTOLAUNCHAPP AND NOT Installed</Custom>
            <RemoveShortcuts>Installed AND NOT UPGRADINGPRODUCTCODE</RemoveShortcuts>
        </InstallExecuteSequence>
        <InstallUISequence>
            <Custom Action="SetARPINSTALLLOCATION" After="CostFinalize" />
        </InstallUISequence>
    </Product>
</Wix>